<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhj.minitea.mapper.BackmenuMapper" >
  <resultMap id="BaseResultMap" type="com.lhj.minitea.po.Backmenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="insert_url" property="insertUrl" jdbcType="VARCHAR" />
    <result column="delete_url" property="deleteUrl" jdbcType="VARCHAR" />
    <result column="select_url" property="selectUrl" jdbcType="VARCHAR" />
    <result column="update_url" property="updateUrl" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="icon_open" property="iconOpen" jdbcType="VARCHAR" />
    <result column="icon_close" property="iconClose" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="font_css" property="fontCss" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, p_id, url, insert_url, delete_url, select_url, update_url, images, table_name, 
    icon_open, icon_close, icon, font_css
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lhj.minitea.po.BackmenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from backmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from backmenu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from backmenu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lhj.minitea.po.BackmenuExample" >
    delete from backmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lhj.minitea.po.Backmenu" >
    insert into backmenu (id, name, p_id, 
      url, insert_url, delete_url, 
      select_url, update_url, images, 
      table_name, icon_open, icon_close, 
      icon, font_css)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pId,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{insertUrl,jdbcType=VARCHAR}, #{deleteUrl,jdbcType=VARCHAR}, 
      #{selectUrl,jdbcType=VARCHAR}, #{updateUrl,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{iconOpen,jdbcType=VARCHAR}, #{iconClose,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{fontCss,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhj.minitea.po.Backmenu" >
    insert into backmenu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="insertUrl != null" >
        insert_url,
      </if>
      <if test="deleteUrl != null" >
        delete_url,
      </if>
      <if test="selectUrl != null" >
        select_url,
      </if>
      <if test="updateUrl != null" >
        update_url,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="iconOpen != null" >
        icon_open,
      </if>
      <if test="iconClose != null" >
        icon_close,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="fontCss != null" >
        font_css,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="insertUrl != null" >
        #{insertUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteUrl != null" >
        #{deleteUrl,jdbcType=VARCHAR},
      </if>
      <if test="selectUrl != null" >
        #{selectUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateUrl != null" >
        #{updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="iconOpen != null" >
        #{iconOpen,jdbcType=VARCHAR},
      </if>
      <if test="iconClose != null" >
        #{iconClose,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="fontCss != null" >
        #{fontCss,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lhj.minitea.po.BackmenuExample" resultType="java.lang.Integer" >
    select count(*) from backmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update backmenu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.insertUrl != null" >
        insert_url = #{record.insertUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteUrl != null" >
        delete_url = #{record.deleteUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.selectUrl != null" >
        select_url = #{record.selectUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUrl != null" >
        update_url = #{record.updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.images != null" >
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.iconOpen != null" >
        icon_open = #{record.iconOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.iconClose != null" >
        icon_close = #{record.iconClose,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.fontCss != null" >
        font_css = #{record.fontCss,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update backmenu
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      p_id = #{record.pId,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      insert_url = #{record.insertUrl,jdbcType=VARCHAR},
      delete_url = #{record.deleteUrl,jdbcType=VARCHAR},
      select_url = #{record.selectUrl,jdbcType=VARCHAR},
      update_url = #{record.updateUrl,jdbcType=VARCHAR},
      images = #{record.images,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      icon_open = #{record.iconOpen,jdbcType=VARCHAR},
      icon_close = #{record.iconClose,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      font_css = #{record.fontCss,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhj.minitea.po.Backmenu" >
    update backmenu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="insertUrl != null" >
        insert_url = #{insertUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteUrl != null" >
        delete_url = #{deleteUrl,jdbcType=VARCHAR},
      </if>
      <if test="selectUrl != null" >
        select_url = #{selectUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateUrl != null" >
        update_url = #{updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="iconOpen != null" >
        icon_open = #{iconOpen,jdbcType=VARCHAR},
      </if>
      <if test="iconClose != null" >
        icon_close = #{iconClose,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="fontCss != null" >
        font_css = #{fontCss,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhj.minitea.po.Backmenu" >
    update backmenu
    set name = #{name,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      insert_url = #{insertUrl,jdbcType=VARCHAR},
      delete_url = #{deleteUrl,jdbcType=VARCHAR},
      select_url = #{selectUrl,jdbcType=VARCHAR},
      update_url = #{updateUrl,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      icon_open = #{iconOpen,jdbcType=VARCHAR},
      icon_close = #{iconClose,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      font_css = #{fontCss,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>