<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhj.minitea.mapper.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.lhj.minitea.po.Template" >
    <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_kind" property="tKind" jdbcType="VARCHAR" />
    <result column="t_status" property="tStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lhj.minitea.po.Template" extends="BaseResultMap" >
    <result column="t_content" property="tContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, t_name, t_kind, t_status
  </sql>
  <sql id="Blob_Column_List" >
    t_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.lhj.minitea.po.TemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lhj.minitea.po.TemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from template
    where t_id = #{tId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from template
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lhj.minitea.po.TemplateExample" >
    delete from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lhj.minitea.po.Template" >
    insert into template (t_id, t_name, t_kind, 
      t_status, t_content)
    values (#{tId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, #{tKind,jdbcType=VARCHAR}, 
      #{tStatus,jdbcType=INTEGER}, #{tContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhj.minitea.po.Template" >
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tKind != null" >
        t_kind,
      </if>
      <if test="tStatus != null" >
        t_status,
      </if>
      <if test="tContent != null" >
        t_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tKind != null" >
        #{tKind,jdbcType=VARCHAR},
      </if>
      <if test="tStatus != null" >
        #{tStatus,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        #{tContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lhj.minitea.po.TemplateExample" resultType="java.lang.Integer" >
    select count(*) from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update template
    <set >
      <if test="record.tId != null" >
        t_id = #{record.tId,jdbcType=INTEGER},
      </if>
      <if test="record.tName != null" >
        t_name = #{record.tName,jdbcType=VARCHAR},
      </if>
      <if test="record.tKind != null" >
        t_kind = #{record.tKind,jdbcType=VARCHAR},
      </if>
      <if test="record.tStatus != null" >
        t_status = #{record.tStatus,jdbcType=INTEGER},
      </if>
      <if test="record.tContent != null" >
        t_content = #{record.tContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update template
    set t_id = #{record.tId,jdbcType=INTEGER},
      t_name = #{record.tName,jdbcType=VARCHAR},
      t_kind = #{record.tKind,jdbcType=VARCHAR},
      t_status = #{record.tStatus,jdbcType=INTEGER},
      t_content = #{record.tContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update template
    set t_id = #{record.tId,jdbcType=INTEGER},
      t_name = #{record.tName,jdbcType=VARCHAR},
      t_kind = #{record.tKind,jdbcType=VARCHAR},
      t_status = #{record.tStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhj.minitea.po.Template" >
    update template
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tKind != null" >
        t_kind = #{tKind,jdbcType=VARCHAR},
      </if>
      <if test="tStatus != null" >
        t_status = #{tStatus,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        t_content = #{tContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lhj.minitea.po.Template" >
    update template
    set t_name = #{tName,jdbcType=VARCHAR},
      t_kind = #{tKind,jdbcType=VARCHAR},
      t_status = #{tStatus,jdbcType=INTEGER},
      t_content = #{tContent,jdbcType=LONGVARCHAR}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhj.minitea.po.Template" >
    update template
    set t_name = #{tName,jdbcType=VARCHAR},
      t_kind = #{tKind,jdbcType=VARCHAR},
      t_status = #{tStatus,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>